body {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}
.container {
  position: relative; 
}
.container {
  min-height: 100vh; 
}
.content {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(
    -50%,
    -50%
  ); 
}

:root {
  --primary: #0091ff;
  --dark: #061b28;
  --gray: #756388;
  --light: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
